@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333333;
}

.nav-link{
    font-family: "Quicksand", sans-serif;
}

.large_text{
    font-size: 64px;
    line-height: 1.3;
}

.fonts{
    font-family: "Quicksand", sans-serif;
}

.Photography_section{
    margin: 110px 0;
    background: url(images/photography-bg.png);
    padding: 2rem 0;
}

.photography_text{
    font-size: 48px;
}

.Portfolio_section{
    margin: 100px 0;
    width: 87%;
}

.prices_cards{
    margin: 150px 0;
}


@media(max-width: 1050px){
  .large_text{
    font-size: 50px;
    line-height: 1.3;
   }
   
   .Portfolio_section{
    width: 95%;
   }

}